body{
    margin : 10px;
    
}
html{
    font-family: sans-serif;
    font-size: 20px;
}
.navbar{
    
    float:right;
}
.navbar ul{
    align-items: center;
}

.navbar li{
    
    display: inline;
    
    
}


.searchForm{
    width: 600px;
	height:200px;
	background-color: gainsboro;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
    align-items: center;
}

input[type=text] {
    
    border-radius: 4px;
    align-items: center;
  }

input[type=submit]{
    padding-left: auto;
    padding-right: auto;
}

submit{
  color: aqua;
}

.container {
    display: flex;
    justify-content: center;
  }

  .center {
    width: 800px;
  }